doctype html 
html 
  head 
    title Register
  body 
    form(action = '/sessions' method="POST")
      input(type='email'  placeholder="Ingresa tu correo" name='email') 
      input(type='password'  placeholder="Ingresa tu contraseña" name='password')
      input(type="submit" value='Enviar')