doctype html 
html 
  head 
    title Register  
  body 
    form(action="/actions" method="POST")
      textarea(name="nombre", placeholder='Escribe un mensaje aqui')
      input(type='submit' value='Enviar') 